<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'base.html '%}
<head>
    <title>add_doctor</title>
</head>
<body>
<div class="page-section">
    <div class="container">
        <h1 class="text-center wow fadeInUp">Add Doctor</h1>


        <form action="{% url 'collect' %}" class="main-form" method="post">
            {% csrf_token %}
            <div class="row mt-5 ">
                <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
                    <label class="form-label">Doctor_name</label>
                    <input type="text" class="form-control" placeholder="Full name" name="Doctor_name">
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInRight">
                    <label class="form-label">Age</label>
                    <input type="text" class="form-control" placeholder="Enter age.." name="Age">
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
                    <label class="form-label">Experience</label>
                    <input type="text" class="form-control" name="Experience" placeholder="In years">
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
                    <label class="form-label">Speciality</label>
                    <select name="Speciality" id="Speciality" class="custom-select" >
                        <option value="general">General Health</option>
                        <option value="cardiology">Cardiology</option>
                        <option value="dental">Dental</option>
                        <option value="neurology">Neurology</option>
                        <option value="orthopaedics">Orthopaedics</option>
                        <option value="covid19">covid19</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 py-2 wow fadeInUp" data-wow-delay="300ms">
                    <label class="form-label">Mobile</label>
                    <input type="text" class="form-control" placeholder="Mobile.." name="Mobile">
                </div>
                <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" placeholder="Enter Email.." name="Email">
                </div>

            </div>

            <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Submit</button>
        </form>

    </div>
</div> <!-- .page-section -->

</body>
</html>